# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: vrscheduler
    database_host_2: ~
    database_name_2: integrations
    database_user_2: ~
    database_password_2: ~
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'
    api_secret: ~
    api_host: ~
    filepath: '%kernel.project_dir%/app/Resources/'
    SSL: http://
    wsdlpath: '%kernel.project_dir%\src\AppBundle\QBDHelpers\WSDL\qbwebconnectorsvc.wsdl'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_from: ~
    mailer_to: ~
    mailer_cc: ~
    mailer_cc_2: ~
    mailer_port: 587
    encryption: tls

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    dsn: "redis://"
    QuickBooksConfiguration:
        ClientID: ~
        ClientSecret: ~
        RedirectURI: ~
        Scope: 'com.intuit.quickbooks.accounting openid profile email phone address'
        BaseURL: 'development'
        AuthMode: 'oauth2'
        RedirectAfterCallback: 'http://localhost:3000'
    aws:
        region: ~
        key: ~
        secret: ~
        bucket_name: ~

